/* Det mesta justeras med Bootstrap men nedan är lite fonts, färger osv */
/* Det mesta är ganska självklart, kort kommenterat på de ställen där jag anser att det behövts */

/* Fonts från https://www.fontspace.com/sf-distant-galaxy-font-f6436 */
/* La alla här pga kanske vill ändra, så alla används inte just nu */
@font-face {
  font-family: "SW-BI";
  src: url(fonts/sw-font-black-italic.ttf);
}
@font-face {
  font-family: "SW-BLI";
  src: url(fonts/sw-font-black-line-italic.ttf);
}
@font-face {
  font-family: "SW-BLR";
  src: url(fonts/sw-font-black-line-reg.ttf);
}
@font-face {
  font-family: "SW-BR";
  src: url(fonts/sw-font-black-reg.ttf);
}
@font-face {
  font-family: "SW-IL";
  src: url(fonts/sw-font-italic-line.ttf);
}
@font-face {
  font-family: "SW-I";
  src: url(fonts/sw-font-italic.ttf);
}
@font-face {
  font-family: "SW-R";
  src: url(fonts/sw-font-reg.ttf);
}

/* Nollställer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Bakgrund */
body {
  background: #121212;
}

/* Sidans heading */
.h1 {
  font-family: "SW-I", arial;
  color: #ffcf41;
  font-weight: bold;
  font-size: 3rem;

}

.h1:hover{
  color: #edebeb;
  text-decoration: none;
}

/* För att göra h1 mindre på de allra minsta enheterna */
@media (max-width: 576px) {.h1 {
font-size: 1.7rem;}}

/* Styling rubriker */
h2 {
  font-family: "SW-BI", arial;
  color: #ffcf41;
}
h3 {
  font-family: "SW-BR", arial;
  color: #ffcf41;
}

/* Sätter typsnitt på resultat och navigation */
.details-div,
.results-div,
.nav-back,
.nav-details,
input {
  font-family: "news-gothic-std", sans-serif;
}

/* Styling naviagtion mellan sidorna */
.nav-back{
  color: #ffcf41;
  font-size: 1.5rem;
}

.link-to-details{
  color: #ffcf41;
}
.nav-back:hover, .link-to-details:hover{
color: #edebeb;
text-decoration: none;
}

/* Inputfältet */
.input-group {
  position: relative;
  background-color: #ffffff);
  border-radius: 3rem;
  padding: 0.7rem 2rem;
  border-color: #ffcf41;
  border-style: solid;
}

/* Important för att override bootstraps css som ligger på detta element i html */
input {
  border: none !important;
}

/* Ta bort list-bullets */
li {
  list-style: none;
}

/* Style på de element som visar datan från API */
.details-div,
.results-div,
label {
  color: #edebeb;
}

.details-div,
.search-result-article {
  background-color: #252525;
  border: 0.3rem solid #ffcf41;
  padding: 2rem;
  border-radius: 3rem;

}

.search-result-article {
  /* position sticky gör så att stjärnorna inte hamnar framför article-diven.
  Vet inte varför det funkar på detalj-sidan utan att sticky anges.
  Samt sticky kanske inte är det bästa alternativet men det verkar
  funka utan att störa något annat så jag kör på det sålänge */
  position: sticky;
}

span {
  font-weight: bold;
  color: #8ed8fc;
}

.details-body {
  margin-right: 0;
  margin-left: 0;
}

/* Länkarna som sköter textalignment */
.aligned-text{
  font-family: "news-gothic-std", sans-serif;
  color: #ffcf41;

}
.aligned-text:hover{
  color: #edebeb;
  text-decoration: none;
}

/* Modal bakgrund*/
.modal {
  display: none; 
  padding-top: 20vh; 
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0, 0.7); 
  
}

/* Modal Content */
.modal-content {
  background-color: #ffcf41;
  margin: auto;
  padding: 20px;
  border: 0.4rem solid #edebeb;
  width: 90vw;
  color: #121212;
}

/* Minska rutan på större skärmar */
@media (min-width: 768px) {
  .modal-content {
  width: 50vw;}
}

/* Stäng modalen */
.stang{
  font-size: 2rem;
}

.stang:hover{
  color:#edebeb;  
}