/* Fonts from: https://www.fontspace.com/sf-distant-galaxy-font-f6436 */
@font-face {
  font-family: "SW-BI";
  src: url(fonts/sw-font-black-italic.ttf);
}
@font-face {
  font-family: "SW-BLI";
  src: url(fonts/sw-font-black-line-italic.ttf);
}
@font-face {
  font-family: "SW-BLR";
  src: url(fonts/sw-font-black-line-reg.ttf);
}
@font-face {
  font-family: "SW-BR";
  src: url(fonts/sw-font-black-reg.ttf);
}
@font-face {
  font-family: "SW-IL";
  src: url(fonts/sw-font-italic-line.ttf);
}
@font-face {
  font-family: "SW-I";
  src: url(fonts/sw-font-italic.ttf);
}
@font-face {
  font-family: "SW-R";
  src: url(fonts/sw-font-reg.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "SW-I", arial;
  color: #ffcf41;
  font-weight: bold;
}

h2 {
  font-family: "SW-BI", arial;
  color: #ffcf41;
}
h3 {
  font-family: "SW-BR", arial;
  color: #ffcf41;
}
body {
  background: rgb(18, 18, 18);
  padding: 2rem;
}

.details-div,
.results-div,
.nav-back,
.nav-details,
input {
  font-family: "news-gothic-std", sans-serif;
}

.details-div,
.results-div,
label {
  color: rgb(237, 235, 235);
}

.details-div,
.search-result-div {
  background-color: rgb(37, 37, 37);
  border: 0.3rem solid #ffcf41;
  padding: 2rem;
  border-radius: 3rem;
}

.search-result-div {
  /* position sticky gör så att stjärnorna inte hamnar framför article-diven.
  Vet inte varför det funkar på detalj-sidan utan att sticky anges.
  Samt sticky kanske inte är det bästa alternativet men det verkar
  funka utan att störa något annat så jag kör på det sålänge */
  position: sticky;
}
.input-group {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 3rem;
  padding: 1rem;
  border-color: #ffcf41;
  border-style: solid;
}

input {
  border: none !important;
}

li {
  list-style: none;
}
